body{
    background-color: black;
 }
  
 #header{
    display:flex;
    align-items: center;
    flex-direction: column;
 }
  
 #header h1{
    color: white;
 }
  
 .load{
    display:flex;
    justify-content: center;
    /* position: absolute;
    bottom:0; */
  }

  #poster{
     width: 400px;
     height: 500px;
     margin-left: 5%;
     margin-top: 5%;
     margin-bottom: 5%; 
  }

  #movieArea{
   display:flex; 
   flex-direction: row;
   flex-wrap:wrap;
   justify-content: space-around;
    
  }

  #movieInfo{
     display:flex;
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
  }

  #ratings{
     display: flex;
     flex-direction: row;
     align-items: center;
  }
 
  #titles{
     color: white;
     
  }

  #rating{
     color: white; 
  }


 #here{
    color: white;
 }

 